/* font */

@font-face {
    font-family: "DM Sans";
    src: url("../fonts/DMSans-VariableFont.ttf");
}

/* margin off */

body {
    margin: 0;
    font-family: "DM Sans";
    background-color: #191919;
}

/* header */

/* logo */
.header {
    background-color: #191919;
    /* max-width: 1440px; */
    height: 119px;
    width: 100%;
    display: inline-block;
}

.logo {
    position: relative;
    top: 40px;
    left: 50px;
}

/* links */

.link-frame {
    font-size: 17px;
    text-decoration: none;
    color: #fff;
}

.link-frame:hover {
    color: #118DA8;
}

.frame {
    display: flex;
    width: 403px;
    height: 67px;
    gap: 40px;
    margin-left: 987px;
}

/* container-studio */

.container {
    width: 1400px;
    background-color: #191919;
    width: 100%;
}

.container-studio {
    width: 530px;
    height: 913px;
}


.text-card-studio {
    width: 530px;
    height: 610px;
    position: relative;
    bottom: 600px;
    left: 750px;
}

.text-weight {
    font-weight: 700;
}

.next-line {
    background-image: url(../img/svg-image/underlining.svg);
}

.studio {
    width: 650px;
    height: 873px;
    margin-left: 50px;
}

.text-studio,
.bottom-text-studio {
    color: #fff;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 3.2px;
    font-style: normal;
}

/* blue-lines */

.blue-line {
    position: absolute;
    top: 95px;
    left: 24px;
}



/* block-platform */

.block-platform {
    width: 289px;
    height: 72px;
}

.text-platform {
    color: #fff;
    font-size: 15px;
    margin-left: 22px;
    font-weight: 400;
}

.image-platform {
    padding-left: 17px;
    width: 32px;
}

.image-platform-container {
    /* display: block; */
    position: relative;
    bottom: 35px;
}

/* lasted eepisodes */

.heading-latest {
    color: #fff;
    font-size: 64px;
    font-weight: 400;
    margin: 0;
    /* display: inline-block; */
}

.button-heading {
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 6px;
    width: 178px;
    height: 51px;
    background-color: #118DA8;
    color: #fff;
    border: 0;
    font-size: 17px;
    font-weight: 400;
    margin-left: 670px;
}

.container-lastest-heading {
    width: 1300px;
    height: 99px;
    margin-left: 70px;
}

/* card */

.card-should {
    width: 1300px;
    max-height: 545px;
    margin-left: 70px;
    border-radius: 32px;
    background-color: #000;
    margin-bottom: 60px;
    /* margin-top: 39px; */
}

.card-should:first-child {
    margin-top: 30px;
}

.img-card-lates {
    margin-left: 40px;
    margin-top: 40px;
}

.text-container-lates {
    width: 778px;
    height: 465px;
    background: #000;
    position: relative;
    bottom: 470px;
    left: 455px;
}


.gear-button {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: #191919 ;
    border-radius: 6px;
    padding-left: 16px;
    padding-right: 16px;
    border: 0;
    display: block;
    margin-bottom: 48px;
}

.link-episode-3 {
    text-decoration: none;
    color: #118DA8;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 18px;
    display: block;
}

.text-should {
    color: #fff;
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 28px;
    display: block;
}

.text-hardware {
    color: rgba(255, 255, 255, 0.70); 
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 24px;
    display: block;
}

.button-lastest {
    color: #fff;
    /* font-size: 18px; */
    font-weight: 400;
    width: 288px;
    height: 51px;
    border-radius: 6px;
    background-color: #118DA8;
    border: 0;
}

